// Bootstrap overrides
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';
// $body-bg: $gray-dark;
// $body-color: $gray-light;


// app variable
$main-theme-color: #2c3e50;
$vue-color: #2c3e50;
$container-width:960px; //網站整體寬度

